#cloud-config
autoinstall:
  version: 1
  interactive-sections: []
  locale: en_US.UTF-8
  keyboard:
    layout: us
  refresh-installer:
    update: false
  apt:
    geoip: true
    preserve_sources_list: false
  network:
    network:
      version: 2
      renderer: networkd
      ethernets:
        {% for i in macaddress -%}
        {{ i['interface'] }}:
          match:
            macaddress: {{ i['mac'] }}
          dhcp4: false
          set-name: {{ i['interface'] }}
        {% endfor -%}
      bonds:
        bond0:
          interfaces: {{ macaddress | map(attribute='interface') | from_yaml }}
          macaddress: {{ bond_macaddress }}
          dhcp4: true
          dhcp-identifier: mac
          parameters:
            mode: 802.3ad
            mii-monitor-interval: 1
  storage:
    layout:
      name: lvm
    grub:
      reorder_uefi: False
    swap:
      size: 0
  identity:
    hostname: {{ hostname }}
    username: {{ username }}
    password: {{ '%s' | format(password) | password_hash('sha256') }}
  ssh:
    install-server: true
    authorized-keys: {{ authorized_keys | from_yaml }}
    allow-pw: false
  user-data:
    disable_root: false
  late-commands:
    - echo '{{ username }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/{{ username }}
    - chmod 440 /target/etc/sudoers.d/{{ username }}
    - ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf

