{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 8,
  "iteration": 1658451500651,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "color": "red",
                  "index": 0
                },
                "1": {
                  "color": "green",
                  "index": 1
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "bool_on_off"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 0
      },
      "id": 2,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 24
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smart_status",
          "hide": false,
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}]",
          "range": false,
          "refId": "B"
        }
      ],
      "title": "Smart Status",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "options": {
                "from": 0,
                "result": {
                  "color": "green",
                  "index": 0
                },
                "to": 25
              },
              "type": "range"
            },
            {
              "options": {
                "from": 25,
                "result": {
                  "color": "yellow",
                  "index": 1
                },
                "to": 35
              },
              "type": "range"
            },
            {
              "options": {
                "from": 35,
                "result": {
                  "color": "orange",
                  "index": 2
                },
                "to": 45
              },
              "type": "range"
            },
            {
              "options": {
                "from": 45,
                "result": {
                  "color": "red",
                  "index": 3
                },
                "to": 55
              },
              "type": "range"
            }
          ],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "celsius"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 0
      },
      "id": 4,
      "options": {
        "colorMode": "background",
        "graphMode": "area",
        "justifyMode": "center",
        "orientation": "vertical",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 14
        },
        "textMode": "value_and_name"
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "expr": "smartctl_device_temperature{temperature_type=\"current\"}",
          "legendFormat": "{{ model_name }} [{{device}}]",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Current temp",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "color": "green",
                  "index": 0
                }
              },
              "type": "value"
            },
            {
              "options": {
                "from": 1,
                "result": {
                  "color": "red",
                  "index": 1
                },
                "to": 2000
              },
              "type": "range"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bool"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 17,
        "w": 12,
        "x": 0,
        "y": 9
      },
      "id": 8,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {
          "titleSize": 14
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_statistics{statistic_name=~\".*(Error|Failures|Time in).*\"}",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}] - {{ statistic_name }}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Device statistic errors",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "decbytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 17,
        "w": 12,
        "x": 12,
        "y": 9
      },
      "id": 12,
      "options": {
        "colorMode": "background",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_statistics{statistic_name=~\".*(Logical Sectors).*\"}*512",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}] - {{ statistic_name }}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Data written",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 26
      },
      "id": 6,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_power_on_seconds/60/60",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}]",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Power on hours",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 26
      },
      "id": 7,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_power_cycle_count",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}]",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Power cycle count",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 35
      },
      "id": 10,
      "options": {
        "displayMode": "gradient",
        "minVizHeight": 10,
        "minVizWidth": 0,
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showUnfilled": true
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_statistics{statistic_name=~\".*(Head).*\"}",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}] - {{ statistic_name }}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Device statistic head",
      "type": "bargauge"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 35
      },
      "id": 11,
      "options": {
        "displayMode": "gradient",
        "minVizHeight": 10,
        "minVizWidth": 0,
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showUnfilled": true
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_statistics{statistic_name=~\".*(Temp).*\", statistic_name!~\".*(Specified|Time).*\"}",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}] - {{ statistic_name }}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Device statistic temperature",
      "type": "bargauge"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${source}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "locale"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 24,
        "x": 0,
        "y": 44
      },
      "id": 9,
      "options": {
        "displayMode": "gradient",
        "minVizHeight": 10,
        "minVizWidth": 0,
        "orientation": "horizontal",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showUnfilled": true
      },
      "pluginVersion": "9.0.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${source}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "smartctl_device_statistics{statistic_name!~\".*(Date and Time).*\"}",
          "instant": true,
          "legendFormat": "{{ model_name }} [{{device}}] - {{ statistic_name }}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "Device statistic others",
      "type": "bargauge"
    }
  ],
  "schemaVersion": 36,
  "style": "dark",
  "tags": [
    "smart"
  ],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "prometheus-raw",
          "value": "prometheus-raw"
        },
        "hide": 0,
        "includeAll": false,
        "multi": false,
        "name": "source",
        "options": [],
        "query": "prometheus",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "type": "datasource"
      }
    ]
  },
  "time": {
    "from": "now-24h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "S.M.A.R.T.",
  "uid": "lj5dDag4k",
  "version": 11,
  "weekStart": ""
}
